<div class="container-fluid container-cta">
  <!--Call to Action-->
  <div class="row row-cta">

    <!--CTA Text-->
    <h3 class="cta">READY TO LEAVE PAVEMENT BEHIND?</h3>

    <!--CTA Button-->
    <a class="btn ctaButton" href="/contact.html">GET STARTED</a>
    
  </div>

  <!--Reviews Carousel-->
  <div class="row row-cta">

    <div id="ctaReviews" class="carousel slide" data-bs-ride="carousel"><!--BS Carousel Class-->

      <!--Carousel slides anchor-->
      <div id="ctaCarousel" class="carousel-inner"></div><!--BS Carousel Class-->

      <!--Carousel buttons anchor-->
      <div id="ctaCarouselButtons" class="carousel-indicators"></div><!--BS Carousel Class-->

    </div>

  </div>

</div>

<!--Review Template-->
<template id="reviewTemplate">
  <div class="carousel-item">
    <blockquote class="ctaReview"></blockquote>
    <cite class="ctaReviewAuthor"></cite>
  </div>
</template>