<footer>
    <div class="row footer align-items-center">
        <div class="col-md-4 footercopyright">
            <p class="copyright">© 2025 Finding Flight, LLC</p>
        </div>
        <div class="col-md-4 footerbrand">
            <a href=#header class="footerbrand"><img src="Images/LogoPlaceholder.png" class="logo p-3"></a>
        </div>
        <div class="col-md-4 footersocials">
            <ul class="socials">
                <li class="socials">
                    <a href="https://www.instagram.com/findingflightaviation/" class="socials"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="socials">
                    <a href="https://www.youtube.com/@FindingFlightAviation" class="socials"><i class="fa-brands fa-youtube"></i></a></li>
                <li class="socials">
                    <a href="https://www.instagram.com/findingflightaviation/" class="socials"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="socials">
                    <a href="https://www.facebook.com/people/FindingFlight/61567766007234/?name=xhp_nt__fb__action__open_user" class="socials"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>