<footer>
    <div class="container-fluid">

        <div class="row row-footer">

            <!--Footer Nav-->
            <div class="col-md-4 col-footer">
                <ul class="footerLinks">
                    <li class="footerLink"><a class="footerLink" href="/tailwheel.html">Tailwheel Training</a></li>
                    <li class="footerLink"><a class="footerLink" href="/backcountry.html">Backcountry Experiences</a></li>
                    <li class="footerLink"><a class="footerLink" href="https://flyairtransit.com">Charter Services</a></li>
                    <li class="footerLink"><a class="footerLink" href="/apservice.html">A&P Services</a></li>
                    <li class="footerLink"><a class="footerLink" href="/about.html">About</a></li>
                    <li class="footerLink"><a class="footerLink" href="/contact.html">Contact Us</a></li>
                </ul>
            </div>

            <!--Footer Brand-->
            <div class="col-md-4 col-footer">
                <a class="footerLogo" href="/index.html"><img src="/images/LogoPlaceholder.png" class="footerLogo"></a>
                <p class="footerCopyright">© 2026 Finding Flight LLC</p>
            </div>

            <!--Footer Contact-->
            <div class="col-md-4 col-footer">
                <!--Contact Info-->
                <h4 class="footerContact"><i class="fa-solid fa-envelope footerContact"></i> info@findingflightaviation.com</h4>
                <h4 class="footerContact"><i class="fa-solid fa-phone footerContact"></i> 940-735-9114</h4>
                <!--Social Media-->
                <ul class="footerSocials">
                    <li class="footerSocials">
                        <a href="https://www.instagram.com/findingflightaviation/" class="footerSocials">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footerSocials">
                        <a href="https://www.youtube.com/@FindingFlightAviation" class="footerSocials">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="footerSocials">
                        <a href="https://www.facebook.com/people/FindingFlight/61567766007234/?name=xhp_nt__fb__action__open_user" class="footerSocials">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    
    </div>
</footer>