<nav class="navbar navbar-expand-lg">

    <div class="navWrapper container-fluid">

        <!--Logo-->
        <a class="navbar-brand" href="/index.html"><img src="/images/LogoPlaceholder.png" class="logo"></a> <!--BS brand class-->

        <!--Hamburger button-->  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"> <!--BS menu toggler class-->
            <i class="fa-solid fa-bars"></i>
        </button>

        <!--Nav Menu-->
        <div class="collapse navbar-collapse">
            <a class="nav-link" href="/training.html">TAILWHEEL TRAINING</a> <!--BS menu item class-->
            <a class="nav-link" href="/backcountry.html">BACKCOUNTRY EXPERIENCES</a>
            <a class="nav-link" href="/charter.html">CHARTER SERVICES</a>
            <a class="nav-link" href="/apservice.html">A&P SERVICES</a>
            <a class="nav-link" href="/about.html">ABOUT</a>
            <a class="nav-link" href="/contact.html">CONTACT US</a>
        </div>

    </div>
    
</nav>

